body, div, nav, h1, a, p {
  margin: 0;
  padding: 0;

  font: inherit;
  color: inherit;
  text-decoration: none;

  background: transparent;
}

body {
  background: #262626;
  color: #bcbcbc;
  font-family: 'Inconsolata', sans-serif;
  font-size: 30px;
}

.main {
  text-align: center;
  margin: auto;
  max-width: 600px;
}

.header {
  color: #b5bd68;
  font-size: 34px;
  font-weight: bold;
  margin: 30px 0;
}

.dialogue {
  text-align: left;
}

p {
  margin: 10px 5px;
}

.answer {
  margin-bottom: 15px;
}

.question:before, .answer:before {
  color: #b5bd68;
  font-weight: bold;
}

.question:before {
  content: 'Q: ';
}

.answer:before {
  content: 'A: ';
}

.portfolio-item {
  margin-bottom: 15px;
}

a {
  display: block;
  cursor: pointer;
  margin: 5px 0;
  color : #81a2b2;
}

a:hover {
  font-weight: bold;
}

.constant {
  color: #f0c674;
}

@media only screen and (max-width: 500px) {
  .dialogue {
    font-size: 20px;
  }
}
